body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
main{
    height: 600px;
    width: 100%;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    height: 80px;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #292927;
    text-decoration: none;
    margin: 0px 12px;
}
nav .menu-bar{
    text-decoration: none;
    margin: 0px 12px;
}
nav .menu-bar:hover{
    cursor: pointer;
}
nav .menu-bar:hover .bar-one{
    width: 7.5px;
}
nav .menu-bar:hover .bar-two{
    width: 15px;
}
nav .menu-bar .bar{
    height: 5px;
    width: 30px;
    background-color: #292927;
    margin: 5px 0px;
    transition: .3s;
}
section{
    height: 500px;
    width: 1000px;
    margin: auto;
    transform: translateY(100px);
}
section h1{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #292927;
    margin: 0px 0px 10px;
}
section p{
    font-size: 14px;
    font-weight: 200;
    font-family: 'Poppins';
    color: #292927;
    margin: 0px 0px 16px;
}
.form{
    height: 500px;
    width: 1000px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form form{
    height: 100%;
    width: 650px;
}
.form-head{
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-head h3{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin: 0px 0px 10px;
}
.form-head i{
    font-size: 16px;
    color: #333333;
}
.form-input{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 10px 20px;    
}
input{
    height: 30px;
    width: 250px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #dfdfdf;
    margin: 0px 26px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
}
input:focus{
    color: #2e4149;
    border-bottom: 1px solid #2e4149;
}
.message{
    height: 180px;
    width: 540px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #dfdfdf;
    margin: 0px 26px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
}
.message:focus{
    color: #2e4149;
    border-bottom: 1px solid #2e4149;
}
.btn{
    justify-content: end;
}
button{
    height: 40px;
    width: 200px;
    border: 0;
    outline: none;
    background-color: #2e4149;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #ffffff;
    float: right;
    transition: transform .2s;
}
button:hover{
    box-shadow: 2px 2px 12px #00000033;
    cursor: pointer;
    transition: .3s;
}
.form .form-side{
    height: 100%;
    width: 350px;
    background-color: #2e4149;
    box-sizing: border-box;
    padding: 25px 20px;

}
.form .form-side h3{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0px 0px 10px;
}
.info{
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 0px;
    display: flex;
    justify-content: start;
}
.info i{
    color: #eeeeee;
    margin: 0px 20px 0px;
}
.info{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0px 0px 10px;
}
.social{
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 0px;
    display: flex;
    justify-content: start;
}
.social a{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #2e4149;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    font-size: 30px;
}
.space{
    height: 350px;
    width: 100%;
    background-color: #eeeeee;
}
/* == Footer == */
footer{
    height: fit-content;
    width: 100%;
    display: block;
    margin: 20px 0px 0px 0px;
}
.footer-container{
    width: 1200px;
    margin: auto;
}
.footer-top{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 10px 0px;
}
footer .col{
    height: 200px;
    width: 300px;
    display: block;
    box-sizing: border-box;
    padding: 20px 10px;
}
#col-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col h4{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px 0px 10px 0px;
}
.col-2 a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #241f20;
    cursor: pointer;
}
.col-2 a:hover{
    color: #2e4149;
    transition: 100ms ease;
}
.col-3 a{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    text-decoration: none;
    margin: 0px 16px;
}
.col-3 a:hover{
    color: #2e4149;
    transition: 100ms ease;
}
#footer-logo{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    text-decoration: none;
}
#footer-logo span{
    color: #2e4149;
}
.footer-bottom{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #241f20;
}
/* == || Footer == */